@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

html, body {
    height: 100%;
    width: 100%;
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header h1 {
    font-size: 80px;
}

button {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.id-input {
    width: 5em;
}

div {
    margin: 0 auto;
}

#visStier {
    background-color: lightblue;
}

#skjulStier {
    background-color: coral;
}

#visStativer {
    background-color: lightgreen;
}

#skjulStativer {
    background-color: lightsalmon;
}